<div class="page">
  <div class="header">
    <h2>Rock, Paper, Scissors</h2>
    <div *ngIf="playing" class="login">
      <h4>Username:</h4>
      <input *ngIf="username == null" type="text" (keyup.enter)="setUsername($event)">
      <p>{{username}}</p>
    </div>
  </div>

  <div class="routes">
    <router-outlet></router-outlet>
  </div>

  <a *ngIf="playing" (click)="toggleReports()" class="footer">View Report >></a>
  <a *ngIf="!playing" (click)="toggleReports()" class="footer">Play Rock, Paper, Scissors >></a>
</div>